*
{
    background-color: black;
    color: rgb(255, 255, 255);
}

h1
{
text-align: center;
font-size: 70px;
   
}

h2{

text-align: center;
font-size: 40px;

}

.box
{
    color:crimson;
    background-color: rgb(167, 167, 167);
    padding: 0%;
    border-color: aliceblue;
    border-width: thick;
    border-style: solid; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
  }

  li
  {
    display: inline;
    font-size: 30px;
  }
a{
    text-decoration: none;
}
  a:hover
  {
   
    color: crimson;
  }

  footer
  {
    padding: 0%;
    border-color: aliceblue;
    border-width: thick;
    border-style: solid; 
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  
  }

  .names
  {
    float:right;
  }


  .flex-container 
  {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    }

.flex-child 
{
    flex: 1;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

