*
{
    background-color: black;
    color: rgb(255, 255, 255);
}

h1
{
text-align: center;
font-size: 70px;
   
}

.box
{
    color:crimson;
    background-color: rgb(167, 167, 167);
    padding: 0%;
    border-color: aliceblue;
    border-width: thick;
    border-style: solid; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
  }

  li{
    display: inline;
  }

